.btn-custom{
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-custom:hover{
    opacity: 0.7;
    cursor: pointer;
}